<?xml version='1.0' encoding='utf-8'?>
<widget id="com.richpolis.systems.PixelPro" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PixelPro</name>
    <description>
        Una aplicacion del curso PixelPro.
    </description>
    <author email="richpolis@gmail.com" href="http://richpolis.interactivevalley.com">
        Richpolis Systems
    </author>
    <content src="index.html" />
    <access origin="*" />
    <gap:plugin name="Notification" value="org.apache.cordova.core.Notification" />
    <gap:plugin name="Camera" value="org.apache.cordova.core.CameraLauncher" />
</widget>
